.App {
  font-family: 'Trebuchet MS', sans-serif;
}

.App-header {
  background-color: #cca353;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.App-header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.05rem;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}